body{
  font-family: 'Helvetica', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover{
  text-decoration: line-through;
  color: purple;
}

#sidebar{
  display: inline-block;
    min-width: 200px;
    max-width: 200px;
    margin: 10px 10px auto 10px;
    padding: 20px;
    border-radius: 3px;
    background-color: #efefef;
}

header{
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
}

header a{
  color: #fff;
}

.Window{
  align-self: center;
  position: fixed;
  background-color: orange;

}

#gameBoard{

}

ticTac_board{
  background-color: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  min-width: 75vw;
  max-height: 75vh;
}

.box{
  background-color: orange;
  min-width: 25vw;
  display: inline-block;
  flex-grow: 3;
}



/*
navbar item, to worrry about JS implementation

tic-tac-toe_box_<number>
event OnClick -> listen for button click for boxes (tic-tac-toe)
-- is it a valid move?

IDs of ticTac boxes and the value there

*/
