<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8">
    <title>Final Project - Group 4</title>
  </head>
  <body>

   {{{body}}}

  </body>
</html>
