<div class="content">



    <aside id="sidebar">

                <h2>Welcome!</h2>

                <div id="navigation-container">
                  <label for="nav-title-text" class="navigation-label">You are currently <span id="player-number">#</span> in line.</label>

                </div>
                <iframe width="200" height="150" src="https://www.youtube.com/embed/iYOvAO1rAM0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <img src="https://media3.giphy.com/media/LwBTamVefKJxmYwDba/giphy.gif">
    </aside>{{!end of sidebar}}


        <div id="gameBoard">
            <section id="ticTac_board">
                <div class="box-empty" id="box-1" data-value=0>
                        <div class="box-image-container" data-value=0></div>
                </div> {{!end of box 1}}
                <div class="box-empty" id="box-2" data-value=1>
                        <div class="box-image-container" data-value=1></div>
                </div> {{!end of box 2}}
                <div class="box-empty" id="box-3" data-value=2>
                        <div class="box-image-container" data-value=2></div>
                </div> {{!end of box 3}}
                <div class="box-empty" id="box-4" data-value=3>
                        <div class="box-image-container" data-value=3></div>
                </div> {{!end of box 4}}
                <div class="box-empty" id="box-5" data-value=4>
                        <div class="box-image-container" data-value=4></div>
                </div> {{!end of box 5}}
                <div class="box-empty" id="box-6" data-value=5>
                        <div class="box-image-container" data-value=5></div>
                </div> {{!end of box 6}}
                <div class="box-empty" id="box-7" data-value=6>
                        <div class="box-image-container" data-value=6></div>
                </div> {{!end of box 7}}
                <div class="box-empty" id="box-8" data-value=7>
                        <div class="box-image-container" data-value=7></div>
                    </div> {{!end of box 8}}
                <div class="box-empty" id="box-9" data-value=8>
                        <div class="box-image-container" data-value=8></div>
                    </div> {{!end of box 9}}

              </section> {{!end of tictac board}}
        </div> {{!end of gameboard}}

    <div class="footerNav">

    </div>

    <div class="playerIcon">

    </div>

</div>
