<div class="content">



    <aside id="sidebar">

                <h2>Nav bar</h2>

                <div id="navigation-container">
                <label for="nav-title-text" class="navigation-label">Opttional navigation</label>
                <ul id = "nav links">
                    <li class="list-item"><a href = "www.google.com">This is a site</a></li>
                    <li class="list-item"><a href = "www.google.com">This is also a site</a></li>
                    <li class="list-item"><a href = "www.google.com">This is also also site</a></li>
                    <li class="list-item"><a href = "www.google.com">You get the idea</a></li>
                </ul>
                </div>

    </aside>


        <div id="gameBoard">
        <section id="ticTac_board">
          <div class="box-empty" id="box-1" data-value=0>
            <button type="button" name="tictac-1" data-value=0>
                        <div class="box-image-container">
                        <img src="https://cnet4.cbsistatic.com/img/xTXdUEQEBqoDx74pbwCcpUc1XFQ=/fit-in/370x0/2017/01/18/c68ae3ac-6795-4d38-91e9-ec3e4fbffd6c/9401078c315052fc72a74b.jpg" alt="Super nice laptop">
                        </div>
                        Click</button>
                </div>
                <div class="box-empty" id="box-2" data-value=1>
                  <button type="button" name="tictac-2" data-value=1>
                        <div class="box-image-container">
                        <img src="https://cnet4.cbsistatic.com/img/xTXdUEQEBqoDx74pbwCcpUc1XFQ=/fit-in/370x0/2017/01/18/c68ae3ac-6795-4d38-91e9-ec3e4fbffd6c/9401078c315052fc72a74b.jpg" alt="Super nice laptop">
                        </div>
                        Click</button>
                </div>
                <div class="box-empty" id="box-3" data-value=2>
                  <button type="button" name="tictac-3" data-value=2>
                        <div class="box-image-container">
                        <img src="https://cnet4.cbsistatic.com/img/xTXdUEQEBqoDx74pbwCcpUc1XFQ=/fit-in/370x0/2017/01/18/c68ae3ac-6795-4d38-91e9-ec3e4fbffd6c/9401078c315052fc72a74b.jpg" alt="Super nice laptop">
                        </div>
                        Click</button>
                </div>
                <div class="box-empty" id="box-4" data-value=3>
                  <button type="button" name="tictac-4" data-value=3>
                        <div class="box-image-container">
                        <img src="https://cnet4.cbsistatic.com/img/xTXdUEQEBqoDx74pbwCcpUc1XFQ=/fit-in/370x0/2017/01/18/c68ae3ac-6795-4d38-91e9-ec3e4fbffd6c/9401078c315052fc72a74b.jpg" alt="Super nice laptop">
                        </div>
                        Click</button>
                </div>
                <div class="box-empty" id="box-5" data-value=4>
                  <button type="button" name="tictac-5" data-value=4>
                        <div class="box-image-container">
                        <img src="https://cnet4.cbsistatic.com/img/xTXdUEQEBqoDx74pbwCcpUc1XFQ=/fit-in/370x0/2017/01/18/c68ae3ac-6795-4d38-91e9-ec3e4fbffd6c/9401078c315052fc72a74b.jpg" alt="Super nice laptop">
                        </div>
                        Click</button>
                </div>
                <div class="box-empty" id="box-6" data-value=5>
                  <button type="button" name="tictac-6" data-value=5>
                        <div class="box-image-container">
                        <img src="https://cnet4.cbsistatic.com/img/xTXdUEQEBqoDx74pbwCcpUc1XFQ=/fit-in/370x0/2017/01/18/c68ae3ac-6795-4d38-91e9-ec3e4fbffd6c/9401078c315052fc72a74b.jpg" alt="Super nice laptop">
                        </div>
                        Click</button>
                </div>
                <div class="box-empty" id="box-7" data-value=6>
                  <button type="button" name="tictac-7" data-value=6>
                        <div class="box-image-container">
                        <img src="https://cnet4.cbsistatic.com/img/xTXdUEQEBqoDx74pbwCcpUc1XFQ=/fit-in/370x0/2017/01/18/c68ae3ac-6795-4d38-91e9-ec3e4fbffd6c/9401078c315052fc72a74b.jpg" alt="Super nice laptop">
                        </div>
                        Click</button>
                </div>
                <div class="box-empty" id="box-8" data-value=7>
                  <button type="button" name="tictac-8" data-value=7>
                        <div class="box-image-container">
                        <img src="https://cnet4.cbsistatic.com/img/xTXdUEQEBqoDx74pbwCcpUc1XFQ=/fit-in/370x0/2017/01/18/c68ae3ac-6795-4d38-91e9-ec3e4fbffd6c/9401078c315052fc72a74b.jpg" alt="Super nice laptop">
                        </div>
                        Click</button>
                </div>
                <div class="box-empty" id="box-9" data-value=8>
                  <button type="button" name="tictac-9" data-value=8>
                                    <div class="box-image-container">
                                        <img src="https://cnet4.cbsistatic.com/img/xTXdUEQEBqoDx74pbwCcpUc1XFQ=/fit-in/370x0/2017/01/18/c68ae3ac-6795-4d38-91e9-ec3e4fbffd6c/9401078c315052fc72a74b.jpg" alt="Super nice laptop">
                                    </div>
                        Click</button>
                </div>

        </section>
        </div>

        <div class="Modal">
        <div class="ModalMessageBox"><span id=ModalMessage>Please Wait ...</span>

        </div>

        </div>

    <div class="footerNav">

    </div>

    <div class="playerIcon">

    </div>

</div>
