body{
  font-family: 'Helvetica', sans-serif;
  background-image: url("https://wallpapercave.com/wp/wp4941976.jpg");
  background-image: linear-gradient();
  margin: 0;
}

#sidebar{
  border: 5px solid black;
  display: inline-block;
  position: static;
  max-width: 200px;
  min-width: 200px;
  margin: 10px 10px auto 10px;
  padding: 20px;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #f0f0f0, #949494);
  height: 500px;
  overflow: hidden;
  grid-area: sidebar;
  font-family: 'Special Elite', cursive;
}

#navigation-container{
  margin-bottom: 20px;
}

#sidebar div{
  min-width: 150px;
    font-size: 1.5em;
}

#sidebar h2{
  font-size: 2em;
}

#sidebar img{
  width: 150px;
  height: 150px;
  margin-left: 25px;
  margin-top:10px;
  padding: 5px;
}

header {
  background-image: linear-gradient(135deg, #d1d1d1, #595959);
  display: flex;
  align-items: center;
  position: relative;
  height:auto;
  margin-bottom: 20px;
  border-bottom: 5px solid black;
  text-overflow: hidden;
  white-space: nowrap;
  padding-left: 10px;
  box-shadow: 0px 10px 10px black;
}

header a {
  text-decoration: none;
  color: #ededed;
}
header a:hover{
  color: White;
}
header img{
  max-height: 125px;
  filter:grayscale(100%);
  border-radius: 3px;
}
header img:hover{
  content: url("https://pm1.narvii.com/6618/aef0160b8b35dbdafd68b2d59e20b919923826c7_128.jpg");
}

.site-title {
  font-family: 'Special Elite', cursive;
  font-size: 80px;
  font-weight: 100;
  margin: 0 0 0 20px;
  padding-top: 30px;
}

.site-title a:hover {
  text-decoration: none;
}


.header-image-container {
  padding: 10px;
}


#Modal{
  background-color: lightyellow;
}

.hidden{
  visibility: hidden;
}

.content{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "sidebar gameWindow";
  grid-column-gap: 50px;
  padding-left: 10px;
  z-index: -10;
}

#gameBoard{
padding: 20px;
background-image: url("https://i1.wp.com/mameara.com/wp-content/uploads/2010/07/Dark-Wood-Texture.jpg?resize=640%2C374");
position: static;
align-items: center;
display: flex;
max-height: 500px;
max-width: 500px;
left: 20px;
top: 300px;
border: 10px solid black;
grid-area: gameWindow;
}

#ticTac_board{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0px;
  grid-row-gap: 0px;
  min-width: 500px;
  min-height: 500px;
  max-height: inherit;
  max-width: inherit;
}


.box-empty{
  border-color: black;
  max-width: 150px;
  height: 150px;
  vertical-align: top;
  align-items: center;
  background-color: white;
  border: 5px solid black;
}
.box-empty:hover{
  border: 5px dashed red;
  transition: 0.5s;
}

.box-tick{
  filter:grayscale(100%);
  content: url("https://www.publicdomainpictures.net/pictures/260000/velka/x-marks-the-spot-1527895054EsE.jpg");
  max-width: 150px;
  max-height: 150px;
}

.box-tack{
  filter:grayscale(100%);
  content: url("https://cdn3.iconfinder.com/data/icons/letters-and-numbers-1/32/letter_O_blue-512.png");
  max-width: 150px;
  max-height: 150px;
}

.box-image-container{
  content: none;
  width: 150px;
  height: 150px;
}


.error-page{
  max-width: 500px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

#player-number{
  background-color:white;
  border-radius:4px;
  padding:3px;
  color:black;
}

#Modal{
  width: 300px;
  height: 300px;
  text-align: center;
  display: grid;
  place-items: center;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px white;
}

#Modal #closer{
  position: absolute;
  display: grid;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 1px grey;
}

#Modal #closer:hover{
  cursor: pointer;
}

#ModalBackdrop{
  display: grid;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 1001;
  overflow: scroll;
  background-color: black;
  opacity: 0.7;
  place-items: center;
}

/*
navbar item, to worrry about JS implementation

tic-tac-toe_box_<number>
event OnClick -> listen for button click for boxes (tic-tac-toe)
-- is it a valid move?

IDs of ticTac boxes and the value there

*/
